[project]
	description = Arduino project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Franck LENORMAND (eramox)
[access "refs/for/refs/*"]
	read = group user/Franck LENORMAND (eramox)
	push = group user/Franck LENORMAND (eramox)
	label-Code-Review = -2..+2 group user/Franck LENORMAND (eramox)
	label-Verified = -1..+1 group user/Franck LENORMAND (eramox)
	rebase = group user/Franck LENORMAND (eramox)
	removeReviewer = group user/Franck LENORMAND (eramox)
	submit = group user/Franck LENORMAND (eramox)
[access "refs/heads/*"]
	read = group user/Franck LENORMAND (eramox)
	create = group user/Franck LENORMAND (eramox)
	push = +force group user/Franck LENORMAND (eramox)
	pushMerge = group user/Franck LENORMAND (eramox)
[access "refs/tags/*"]
	push = +force group user/Franck LENORMAND (eramox)
	pushTag = group user/Franck LENORMAND (eramox)
	pushSignedTag = group user/Franck LENORMAND (eramox)
